<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net472" />
  <package id="GSF.Core" version="2.4.28" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="UnitsNet" version="4.128.0" targetFramework="net472" />
</packages>